.rotulo{
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
   
}

.inputText{
    width:  350px;
    display: block;
    padding: 10px;
    border-radius: 50px;
    border: none;
}


.inputText:hover{
    background-color: rgb(220, 240, 205);
    border: none;
}


.inputText:focus{
    background-color: rgb(140, 161, 125);
    border: none;
    outline: none;
}
