.tit_pag {
    text-align: center ;
    text-shadow: 0px 0px 30px green;
}

.back_home, .back_home:visited{
    float: right;
    padding-right: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 30px green;

}