.formulario{
    border: 1px solid white;
    float: left;
    padding: 12px;
    margin: 50px 40%;
    border-radius: 5px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

.btn:hover{
    border: 2px solid rgb(140, 161, 125);
    background-color: rgb(220, 240, 205);
    outline: none;
}

.blankData{
    color: pink;
    font-size: 12px;
    float: right;
    font-weight: bolder;
    font-style: italic;
}
